<style>
       
        .container1 {
          margin: 20px;
          padding: 20px;
        }
        .container2 {
          border: 10px solid grey;
          margin-top: 20px;
          margin-left: 50px;
          margin-right: 50px;
          padding: 2px;
        }
        .container3 {
          margin: 20px;
          margin-left: 40px;
          padding: 20px;
        }
        .container4 {
          margin: 2px;
        }
        .container4:after {
          content: "";
          display: table;
          clear: both;
        }

        .container1:after {
          content: "";
          display: table;
          clear: both;
        }
        .container2:after {
          content: "";
          display: table;
          clear: both;
        }
        .column {
          float: left;
          width: 50%;
          padding: 10px;
        }
        .columnTown{
          float: left;
          width: 33%;
          padding: 10px; 
        }
        .columnWeather {
          float: left;
          width: 20%;
          padding: 10px;
        }
        #search1 {
          border: 5px solid gray;
          float: right;
          margin-right: 10px;
        }
         .uppercaseText{
          text-transform: capitalize;
        }
        .my-form{
          display: inline-block;
          width: 90%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        </style>
